---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Home">
  <h1>Welcome to My Blog</h1>
  <p>This is the home page. Explore the tutorials and blog posts using the sidebar!</p>
</MainLayout>
